#jumbo {
  background-color: #f2f2f2;
  color: #04304e;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
}

.img-fluid {
  padding-bottom: 30px;
}

#title {
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
}

#content {
  font-weight: 700;
  font-size: 1.35rem;
  text-align: left;
}

.bullets {
  text-align: center;
  margin-bottom: 3rem;
}

.bullets h3 {
  color: #ed8e1c;
  font-family: 'Pathway Gothic One', sans-serif;
}

.bullets p {
  color: rgba(8, 27, 51, 0.8);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.25rem;
  line-height: 0.9;
}

#footer {
  margin-bottom: 5rem;
  background-color: #ed8e1c;
  text-align: center;
  color: white;
  font-family: 'Pathway Gothic One', sans-serif;
}

#footer:hover {
  color: white;
  text-decoration: none;
}

#footer h2 {
  color: white;
  padding-top: 40px;
  font-size: 3em;
  font-weight: bold;
}

#footer h4 {
  color: white;
  padding-bottom: 40px;
  font-weight: bold;
}

a:hover {
  text-decoration: none !important;
}
