#main {
  background-color: #04304e;
  text-align: center;
  padding: 4em 0 6em 0;
}

.headerText {
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.025em;
}
